:root {
    --primary-color: #112D4E;
    --secondary-color: #F9F7F7;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    z-index: 2;
    scroll-margin-top: 80px;
}

.header__logo {
    max-width: 200px;
    max-height: 80px;
}

.header__nav a {
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-weight: 600;
    margin-left: 50px;
}

.banner {
    overflow: hidden;
    width: 100%;
}

.section__banner {
    margin: 0 auto
    scale: 1.2;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo-banner,
.subtitulo-banner {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-weight: 600;
    text-shadow: 0px 0px 5px var(--shadow-color);
    color: var(--text-color);
    text-align: center;
}

.titulo-banner {
    width: 40%;
    top: 60%;
    left: 30%;
    font-size: 2.5rem;
}

.subtitulo-banner {
    width: 30%;
    height: 80px;
    top: 70%;
    left: 30%;
    font-size: 1rem;
}

.container-fluid.texto {
    background-color: var(--secondary-color);
}

.texto-formatado {
    font-size: 16px;
    font-family: var(--font-family);
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

.texto-formatado h2 {
    margin-bottom: 30px;
}

.texto-formatado img {
    width: 80%;
    height: auto;
    padding-bottom: 10px;
}

.texto-formatado figure {
    font-size: 12px;
    font-family: var(--font-family);
    text-align: center;
}

.membros__equipes {
    display: block;
    background-color: var(--primary-color);
    padding: 40px;
}

.carousel-item img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.membros__equipes__item,
.membros__equipes__item__captions {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #f2f2f2;
    padding: 4rem 0;
}

form div {
    padding-bottom: 20px;
}

form button {
    width: 10%;
    height: auto;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
}

.copyright p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #777;
}

.copyrig
ht a {
    color: #112D4E;
}